:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navyblue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--lightslate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navybluemodal: rgba(46, 47, 66, 0.4);
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;
	--activehover: #000000;
}
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	line-height: 1.5;
	letter-spacing: 0.02em;
}
@media (min-width: 768px) {
	.menu-toggle,
	.menu-container {
		display: none;
	}
}
.top-line {
	background: var(--white);
	box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 2px 1px 0px rgba(46, 47, 66, 0.08);
	border-bottom: 1px solid var(--cornflower);
}
.conteiner {
	min-width: 396px;
	max-width: 1200px;
	padding: 0px 16px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}
.top {
	min-width: 428px;
	height: 70px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 16px;
}
@media (min-width: 768px) {
	.top {
		align-content: center;
		min-width: 768px;
		min-height: 72px;
		padding: 16px 16px;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
	}
}
.logo {
	display: inline-flex;
	padding-top: 0%;
	display: flex;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-decoration: none;
}
.web {
	color: var(--iris);
}
.studio {
	color: var(--navyblue);
}
.studio:hover,
.web:hover {
	cursor: pointer;
}
@media (min-width: 768px) {
	.studio {
		margin-right: 120px;
	}
}
.navi {
	display: inline-flex;
	gap: 40px;
	list-style: none;
}
@media (max-width: 480px) {
	.navi {
		display: none;
	}
}
.item-navi {
	font-family: "Roboto", sans-serif;
	color: var(--navyblue);
	font-weight: 500;
	text-decoration: none;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.item-navi:hover,
.item-navi:focus {
	color: var(--ocean);
}
.active {
	position: relative;
	font-size: 16px;
	font-weight: 500;
	color: var(--ocean);
}
.active::after {
	position: absolute;
	right: 0px;
	bottom: -28px;
	content: "";
	background-color: var(--ocean);
	width: 100%;
	height: 4px;
	border-radius: 2px;
}
.contact {
	padding-top: 0%;
	gap: 12px;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-left: auto;
}
@media (max-width: 480px) {
	.contact {
		display: none;
	}
}
.item-contact {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	font-size: 12px;
	text-decoration: none;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.item-contact:hover,
.item-contact:focus {
	color: var(--ocean);
}
.menu-toggle {
	display: flex;
	justify-content: flex-end;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	outline: none;
}
@media (min-width: 768px) {
	.menu-toggle,
	.menu-container {
		display: none;
	}
}
.bg-hero {
	height: 432px;
	background-color: var(--navybluemodal);
	background-image: radial-gradient(
			circle,
			rgba(46, 47, 66, 0.7) 100%,
			rgba(255, 255, 255, 0) 0%
		),
		url("../images/mainpage/bghero.jpg");
	background-size: cover, cover;
}
.hero {
	color: var(--cloud);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 0%;
}
.text-hero {
	text-align: center;
	margin-top: 112px;
	margin-bottom: 72px;
	font-size: 36px;
	width: 320px;
	font-weight: 700;
}
.button-hero {
	margin: 0 auto;
	padding: 16px 32px;
	border-radius: 4px;
	background-color: var(--iris);
	border: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	color: var(--cloud);
	transition-property: background-color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.button-hero:hover,
.button-hero:focus {
	background-color: var(--ocean);
	cursor: pointer;
	transform: scale(1.2);
}
.section {
	padding: 96px 0px;
}

.feature {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 72px;
}
.feature-item {
	display: flex;
	gap: 8px;
	flex-direction: column;
	width: 396px;
}
@media (max-width: 480px) {
	.feature-icons {
		display: none;
	}
}
@media (max-width: 768px) {
	.feature-icons {
		display: none;
	}
}
.feature-icons {
	box-sizing: content-box;
	border-radius: 4px;
	background-color: var(--cloud);
	padding: 24px 100px;
}
.feature-header {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	color: var(--navyblue);
}
.feature-text {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.32px;
	align-self: stretch;
}
@media (max-width: 480px) {
	.not-mobile {
		display: none;
	}
}
.two-header {
	display: flex;
	justify-content: center;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: var(--navyblue);
}
.bg-light {
	background-color: var(--cloud);
}
.team {
	margin-top: 72px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	gap: 72px;
}
.team-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--cornflower, #e7e9fc);
	gap: 32px;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-figcaption {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	width: 232px;
	margin-bottom: 32px;
}
.team-header {
	color: var(--navyblue, #2e2f42);
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
}
.social-list-icons-main {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 24px;
}
.background-social-main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--iris);
	fill: var(--cloud);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition-property: background-color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.background-social-main:hover,
.background-social-main:focus {
	cursor: pointer;
	background-color: var(--ocean);
	transform: scale(1.2);
}
.customers-list-icons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 72px;
	list-style: none;
	gap: 24px;
}
.customers-icons-images {
	display: flex;
	align-items: center;
	padding: 16px 32px;
	border-radius: 4px;
	border: 1px solid var(--lightslate);
	fill: var(--lightslate);
	transition-property: border, fill, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.customers-icons-images:hover,
.customers-icons-images:focus {
	cursor: pointer;
	border: 1px solid var(--ocean);
	fill: var(--ocean);
}
.bottom {
	background-color: var(--navyblue);
	color: var(--cloud);
}
.bottom-items-one {
	display: flex;
	flex-direction: column;
}
.logo-bottom {
	display: flex;
	justify-content: center;
	margin-top: 97.5px;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-decoration: none;
}
.text-bottom {
	display: flex;
	justify-content: center;
	width: 268px;
	margin-top: 17.5px;
}
.bottom-items-two {
	display: flex;
	flex-direction: column;
}
.social-text-bottom {
	display: flex;
	justify-content: center;
	margin-top: 72px;
}
.social-list-icons-bottom {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 16px;
	list-style: none;
}
.background-social-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--iris);
	fill: var(--cloud);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition-property: background-color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.background-social-footer:hover,
.background-social-footer:focus {
	background-color: var(--green);
	cursor: pointer;
	transform: scale(1.2);
}
.bottom-items-three {
	display: flex;
	flex-direction: column;
}
.subscribe-text-bottom {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-weight: 400;
	margin-top: 72px;
}
.subscribe-input {
	width: 398px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid var(--white);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	color: var(--white);
	font-size: 12px;
	padding-left: 16px;
	background-color: var(--navyblue);
	margin-top: 16px;
}
.subscribe-button-positions {
	display: flex;
	justify-content: center;
}
.subscribe-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	margin-top: 16px;
	margin-bottom: 96px;
	border: none;
	padding: 8px 24px;
	text-align: center;
	border-radius: 4px;
	background: var(--iris);
	color: var(--white);
	font-weight: 500;
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.subscribe-button:hover,
.subscribe-button:focus {
	cursor: pointer;
	transform: scale(1.1);
}
.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 428px;
	min-height: 796px;
	padding: 40px;
	background-color: var(--white);
	box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 2px 1px 0px rgba(46, 47, 66, 0.08);
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
	transform: translateX(0);
}
.close-buttom-menu {
	position: relative;
	top: -16px;
	left: 340px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	fill: var(--navyblue);
	background: linear-gradient(0deg, #e7e9fc, #e7e9fc),
		linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	cursor: pointer;
}
.navi-menu {
	display: flex;
	flex-direction: column;
	gap: 40px;
	list-style: none;
	margin-top: 42px;
}
.item-navi-menu {
	font-family: "Roboto", sans-serif;
	color: var(--navyblue);
	font-size: 36px;
	font-weight: 700;
	text-decoration: none;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.active-menu {
	color: var(--ocean);
}
.contact-menu {
	gap: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	margin-top: 284px;
}
.item-contact-tel {
	font-family: "Roboto", sans-serif;
	color: var(--iris);
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	text-decoration: none;
}
.item-contact-mail {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.item-contact-mail:hover,
.item-contact-mail:focus {
	color: var(--ocean);
}
.item-navi-menu:hover,
.item-navi-menu:focus {
	color: var(--ocean);
}

.social-list-menu {
	display: flex;
	justify-content: center;
	margin-top: 48px;
	list-style: none;
	gap: 56px;
}
.social-list-menu-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--iris);
	fill: var(--cloud);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition-property: background-color, transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.social-list-menu-icons:hover,
.social-list-menu-icons:focus {
	cursor: pointer;
	background-color: var(--ocean);
	transform: scale(1.2);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	transition-property: transform;
	transition-duration: 500ms;
	transition-timing-function: linear;
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: scale(1.25);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 432px;
	height: 608px;
	border-radius: 4px;
	background: var(--cloud);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
	margin: 0;
	padding: 24px;
}
.close-btn {
	position: relative;
	left: 336px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	fill: var(--navyblue);
	background: linear-gradient(0deg, #e7e9fc, #e7e9fc),
		linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	cursor: pointer;
}
.header-form {
	display: flex;
	justify-content: center;
	font-weight: 500;
	margin-top: 24px;
	margin-bottom: 16px;
}
.label-form {
	color: var(--lightslate);
	font-size: 12px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	margin-bottom: 8px;
}
.icons-position {
	position: relative;
}
.frame-form {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	padding: 11px 38px;
	border: 1px solid var(--navybluemodal);
}
.icons-form {
	position: absolute;
	top: 11px;
	left: 16px;
}
.comment-form {
	display: block;
	resize: none;
	width: 100%;
	height: 120px;
	border-radius: 4px;
	border: 1px solid var(--navybluemodal);
	padding: 8px 16px;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
.comment-form:focus,
.comment-form:hover,
.icons-position:focus,
.icons-position:hover,
.icons-position:focus-within,
.frame-form:focus,
.frame-form:hover {
	fill: var(--iris);
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--iris);
	outline: none;
}
.agreement {
	position: relative;
	margin-left: 24px;
	margin-top: 16px;
	margin-bottom: 24px;
}
.agreement-text {
	color: var(--lightslate);
	font-size: 12px;
}
.check-input {
	position: absolute;
	transform: translateY(-50%);
	opacity: 0;
}
.check-input:checked + .check-span {
	border: 1px solid var(--ocean);
	background: var(--ocean);
}
.check-input:checked + .check-span .check-icons {
	opacity: 1;
}
.check-span {
	position: absolute;
	border: 1px solid rgba(46, 47, 66, 0.4);
	padding: 4px 3px 4px 3px;
	border-radius: 2px;
	width: 16px;
	height: 16px;
	left: -24px;
	top: 5px;
}
.check-icons {
	position: absolute;
	top: 25%;
	left: 20%;
	opacity: 0;
}
.form-button-place {
	display: flex;
	justify-content: center;
}
.form-button {
	display: flex;
	justify-content: center;
	width: 169px;
	height: 56px;
	padding: 16px 32px 16px 32px;
	border-radius: 4px;
	background: var(--iris);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	color: var(--white);
	line-height: 24px;
	letter-spacing: 0.04em;
	border: none;
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.form-button:hover,
.form-button:focus {
	cursor: pointer;
	transform: scale(1.1);
}
